body {
    background-color: FFFDF6;
}

red_accent {
    color: FF709B;
    font-family: Helvetica;
}

blue_accent {
    color: 6184d8;
    font-family: Helvetica;
}

h1 {
    color: 123350;
    font-family: Courier;
    font-size: 200%;
}

h2 {
    color: 123350;
    font-family: Courier;
    font-size: 125%;
}

h3 {
    color: 123350;
    font-family: Courier;
    font-size: 110%;
}

p {
    color: 123350;
    font-family: Helvetica;
    font-size: 100%;
}
