body {
    background-color: FFFDF6;
}

accent {
    color: ea3546;
    font-family: Helvetica;
}

h1 {
    color: 123350;
    font-family: Helvetica;
    font-size: 200%;
}

h2 {
    color: 123350;
    font-family: Helvetica;
    font-size: 150%;
}

h3 {
    color: 123350;
    font-family: Helvetica;
    font-size: 125%;
}

p {
    color: ea3546;
    font-family: Helvetica;
    font-size: 100%;
}

link {
    color: 6184d8;
    font-family: Helvetica;
}