:root {
    --pink: #ff709b;
    --unclicked: #6184d8;
    --clicked: #254693;
    --backgroundColor: #fffdf6;
    --bodyText: #123350;
}

body {
    background-color: var(--backgroundColor);
}

pink_accent {
    color: var(--pink);
}

a {
    color: var(--unclicked);
    text-decoration: underline;
    cursor: auto;
}

a:focus,
a:active {
    color: var(--clicked);
}

h1 {
    color: var(--bodyText);
    font-family: Courier;
    font-size: 200%;
    margin: 12.5rem;
    margin-top: 10rem;
    margin-bottom: 3rem;
}

h2 {
    color: var(--bodyText);
    font-family: Courier;
    font-size: 125%;
    margin: 12.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

h3 {
    color: var(--bodyText);
    font-family: Courier;
    font-size: 110%;
    margin: 12.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h4 {
    color: var(--bodyText);
    font-family: Helvetica;
    font-size: 110%;
    margin: 12.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p {
    color: var(--bodyText);
    font-family: Helvetica;
    font-size: 100%;
    margin: 12.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    gap: 0rem;
}

.flex-container>div {
    flex: 1;
    text-align: left;
    /* margin-left: -10rem;
    margin-right: -10rem; */
}

.two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:0rem
    
}

.grid-item {
    border: 5px red;
    text-align: left;
}