body {
    background-color: eef1ef
}

accent {
    color: ea3546;
    font-family: Helvetica
}

h1 {
    color: 0d1821;
    font-family: Helvetica
}

h3 {
    color: 0d1821;
    font-family: Helvetica
}

p {
    color: 0d1821;
    font-family: Times New Roman
}

link {
    color: 6184d8;
    font-family: Helvetica
}